In [3]:
import numpy as np
import pandas as pd
import datetime
from pandas import Series,DataFrame
from pandas_datareader import data as wb#pandas_datareader是一个远程获取金融数据的Python工具修改试一下
import fix_yahoo_finance as yf#读取数据的修复工具
yf.pdr_override()  #修复完成
from numpy import nan as NA
encoding='gbk'

In [4]:
data=Series([1,5,np.nan,6,np.nan,4,1])
print(data.isnull())#isnull检测是否有缺失值，nan用于标记缺失
data[1]=None
print(data.isnull())

0    False
1    False
2     True
3    False
4     True
5    False
6    False
dtype: bool
0    False
1     True
2     True
3    False
4     True
5    False
6    False
dtype: bool

In [5]:
print(data[data.notnull()])#监测哪些不是缺失值，返回布尔数据
print(data.dropna())#返回丢掉na缺失值的数据

0    1.0
3    6.0
5    4.0
6    1.0
dtype: float64
0    1.0
3    6.0
5    4.0
6    1.0
dtype: float64

In [6]:
data={"a_zhou":{1:"benyang",2:"benmiemie",3:NA},"yiling":{1:"congmingzhu",2:NA,3:NA}}
frame2=DataFrame(data)#外层键作为列，内层键作为行
print(frame2)
print('\n')
print(frame2.dropna())#对于dataframe，默认丢失含有nan的行
print('\n')
print(frame2.dropna(how='all'))#加上how='all'则只丢失全为nan的行
print('\n')
print(frame2.dropna(axis=1))#axis等于1，则在列上做方法
print('\n')
print(frame2.dropna(how='all',axis=1))

      a_zhou       yiling
1    benyang  congmingzhu
2  benmiemie          NaN
3        NaN          NaN


    a_zhou       yiling
1  benyang  congmingzhu


      a_zhou       yiling
1    benyang  congmingzhu
2  benmiemie          NaN


Empty DataFrame
Columns: []
Index: [1, 2, 3]


      a_zhou       yiling
1    benyang  congmingzhu
2  benmiemie          NaN
3        NaN          NaN

In [7]:
data2=DataFrame(np.random.randn(5,7))
print(data2)
data2.iloc[:2,4]=NA
data2.iloc[4,5:6]=NA
print(data2)
print(data2.dropna())
print(data2.dropna(thresh=7))#表示在行方向上至少有几个非nan的数据保留

          0         1         2         3         4         5         6
0  0.216739 -1.663580  0.797340 -1.064488 -1.352944  0.668470 -0.059574
1  0.623205 -0.483802 -0.623950  0.378417 -1.092026 -0.576290 -0.410186
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
4 -0.770094 -3.095704  1.290220 -0.081822 -1.298251  0.783709  1.238937
          0         1         2         3         4         5         6
0  0.216739 -1.663580  0.797340 -1.064488       NaN  0.668470 -0.059574
1  0.623205 -0.483802 -0.623950  0.378417       NaN -0.576290 -0.410186
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
4 -0.770094 -3.095704  1.290220 -0.081822 -1.298251       NaN  1.238937
          0         1         2         3         4         5         6
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
          0         1         2         3         4         5         6
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725

In [8]:
print(data2.fillna(0))
print(data2.fillna({4:5.3,5:7.5}))#也可以利用字典对指定列na进行填充值

          0         1         2         3         4         5         6
0  0.216739 -1.663580  0.797340 -1.064488  0.000000  0.668470 -0.059574
1  0.623205 -0.483802 -0.623950  0.378417  0.000000 -0.576290 -0.410186
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
4 -0.770094 -3.095704  1.290220 -0.081822 -1.298251  0.000000  1.238937
          0         1         2         3         4         5         6
0  0.216739 -1.663580  0.797340 -1.064488  5.300000  0.668470 -0.059574
1  0.623205 -0.483802 -0.623950  0.378417  5.300000 -0.576290 -0.410186
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
4 -0.770094 -3.095704  1.290220 -0.081822 -1.298251  7.500000  1.238937

In [9]:
print(data2)
print(data2.fillna(0,inplace=True))#inplace=True：不创建新的对象，直接对原始对象进行修改
#(inplace=False)将不改变原来的dataFrame，而将结果生成在一个新的dataFrame中。

          0         1         2         3         4         5         6
0  0.216739 -1.663580  0.797340 -1.064488       NaN  0.668470 -0.059574
1  0.623205 -0.483802 -0.623950  0.378417       NaN -0.576290 -0.410186
2 -0.718093 -0.721967  1.670108 -0.377180 -0.940096 -0.171236  0.369846
3  1.350195  1.093834  0.333686  0.260112 -0.365739 -1.872500  0.489725
4 -0.770094 -3.095704  1.290220 -0.081822 -1.298251       NaN  1.238937
None

In [10]:
data2=DataFrame(np.random.randn(5,7))
data2.iloc[:2,4]=NA
data2.iloc[1:3,2:4]=NA
print(data2)
print(data2.fillna(method="ffill"))#pad/ffill：用前一个非缺失值去填充该缺失值;backfill/bfill：用下一个非缺失值填充该缺失值
print(data2.fillna(method="ffill",limit=1))#向前或向后填充的限度，即一个数被复制的次数

          0         1         2         3         4         5         6
0  0.277966 -0.541405 -0.321552 -0.470853       NaN -1.295576 -0.646290
1  1.268057 -2.698187       NaN       NaN       NaN -0.969517  1.695964
2 -1.506688 -0.084848       NaN       NaN -0.269409 -1.548667  0.864904
3  0.013929 -0.482838  0.188446  1.255216  0.939031  0.631767 -1.318101
4  0.482369  1.152601 -1.532862  0.835727  1.474452  0.901536  0.662131
          0         1         2         3         4         5         6
0  0.277966 -0.541405 -0.321552 -0.470853       NaN -1.295576 -0.646290
1  1.268057 -2.698187 -0.321552 -0.470853       NaN -0.969517  1.695964
2 -1.506688 -0.084848 -0.321552 -0.470853 -0.269409 -1.548667  0.864904
3  0.013929 -0.482838  0.188446  1.255216  0.939031  0.631767 -1.318101
4  0.482369  1.152601 -1.532862  0.835727  1.474452  0.901536  0.662131
          0         1         2         3         4         5         6
0  0.277966 -0.541405 -0.321552 -0.470853       NaN -1.295576 -0.646290
1  1.268057 -2.698187 -0.321552 -0.470853       NaN -0.969517  1.695964
2 -1.506688 -0.084848       NaN       NaN -0.269409 -1.548667  0.864904
3  0.013929 -0.482838  0.188446  1.255216  0.939031  0.631767 -1.318101
4  0.482369  1.152601 -1.532862  0.835727  1.474452  0.901536  0.662131

In [11]:
data3=Series(np.random.randn(10),index=[['a','a','a','b','b','c','c','c','d','d'],[1,2,3,1,2,1,2,3,1,2]])
print(data3)#构建多层索引

a  1    0.159019
   2   -3.269294
   3    0.355706
b  1   -0.900737
   2   -0.848351
c  1    0.386687
   2    0.088171
   3    0.945654
d  1   -1.418945
   2    2.459724
dtype: float64

In [12]:
print(data3.index)#输出索引
print('\n')
print(data3['b':'c'])#按连续索引输出一段区间
print('\n')
print(data3['b'])#输出某个索引值
print('\n')
print(data3.loc[['a','c']])#输出不连续索引
print('\n')
print(data3[:,2])#输出内层索引
print('\n')
print(data3.unstack())#输出dataframe形式
print('\n')
print(data3.unstack().stack())#再次整合

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 2, 3, 3], [0, 1, 2, 0, 1, 0, 1, 2, 0, 1]])


b  1   -0.900737
   2   -0.848351
c  1    0.386687
   2    0.088171
   3    0.945654
dtype: float64


1   -0.900737
2   -0.848351
dtype: float64


a  1    0.159019
   2   -3.269294
   3    0.355706
c  1    0.386687
   2    0.088171
   3    0.945654
dtype: float64


a   -3.269294
b   -0.848351
c    0.088171
d    2.459724
dtype: float64


          1         2         3
a  0.159019 -3.269294  0.355706
b -0.900737 -0.848351       NaN
c  0.386687  0.088171  0.945654
d -1.418945  2.459724       NaN


a  1    0.159019
   2   -3.269294
   3    0.355706
b  1   -0.900737
   2   -0.848351
c  1    0.386687
   2    0.088171
   3    0.945654
d  1   -1.418945
   2    2.459724
dtype: float64

In [13]:
data = DataFrame(np.arange(12).reshape(4,3),
                     index=[["a","a","b","b"],[2,1,1,2]],
                     columns=[["A","A","B"],["Z","X","C"]])
print(data)
print('\n')
print(data['A'])
print('\n')
print(data.loc['a'])#各种索引方式

     A       B
     Z   X   C
a 2  0   1   2
  1  3   4   5
b 1  6   7   8
  2  9  10  11


     Z   X
a 2  0   1
  1  3   4
b 1  6   7
  2  9  10


   A     B
   Z  X  C
2  0  1  2
1  3  4  5

In [14]:
data.index.names = ['key1','key2']
data.columns.names = ['state','color']
print(data)
print('\n')
print(data.swaplevel('key1','key2'))#swaplevel接受两个级别的名称，返回互换级别的列表
print('\n')
print(data.sort_index(1)) #sort_index是根据索引值，将索引值排序；0是对左边索引排序，1是对上面索引排序
print('\n')
print(data.sort_index(0))
print('\n')
print(data.sum(level='state',axis=1))
print('\n')
print(data.sum(level='key1'))#对各列各行汇总，默认是以左边索引汇总

state      A       B
color      Z   X   C
key1 key2
a    2     0   1   2
     1     3   4   5
b    1     6   7   8
     2     9  10  11


state      A       B
color      Z   X   C
key2 key1
2    a     0   1   2
1    a     3   4   5
     b     6   7   8
2    b     9  10  11


state       A      B
color       X  Z   C
key1 key2
a    2      1  0   2
     1      4  3   5
b    1      7  6   8
     2     10  9  11


state      A       B
color      Z   X   C
key1 key2
a    1     3   4   5
     2     0   1   2
b    1     6   7   8
     2     9  10  11


state       A   B
key1 key2
a    2      1   2
     1      7   5
b    1     13   8
     2     19  11


state   A       B
color   Z   X   C
key1
a       3   5   7
b      15  17  19

In [15]:
 frame=pd.DataFrame({'a':range(7),'b':range(7,0,-1),
       'c':['one','one','one','two','two','two','two'],
       'd':[0,1,2,0,1,2,3]})
print(frame)
print('\n')
print(frame.set_index(['c','d']))#将列作为索引
print('\n')
print(frame.set_index(['c'],drop=False))#保留作为索引的列
print('\n')
frame2=frame.set_index(['c'])
print(frame2)
print(frame2.reset_index())#恢复索引列

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3


       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1


     a  b    c  d
c
one  0  7  one  0
one  1  6  one  1
one  2  5  one  2
two  3  4  two  0
two  4  3  two  1
two  5  2  two  2
two  6  1  two  3


     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  0
two  4  3  1
two  5  2  2
two  6  1  3
     c  a  b  d
0  one  0  7  0
1  one  1  6  1
2  one  2  5  2
3  two  3  4  0
4  two  4  3  1
5  two  5  2  2
6  two  6  1  3

In [16]:
data5=Series([1,5,np.nan,6,np.nan,4,1])
print(data5)

0    1.0
1    5.0
2    NaN
3    6.0
4    NaN
5    4.0
6    1.0
dtype: float64

In [17]:
df=pd.read_csv('D:\csv\haop.csv',encoding='gbk',index_col='类型')#默认顶部索引是最上面一行
print(df.fillna(method="ffill"))#读取csv文件（用，分隔的文件），指明文件位置，中文编码用gbk,index_col,为索引，指明索引是哪一列

               好评点   数量   占比                      好评标签
类型
其他              满意  332  31%                      非常满意
定制师         服务贴心周到  304  29%        定制师态度很好\n定制师比较专业\n
定制师           认真负责  304  29%        定制师态度很好\n定制师比较专业\n
定制师             专业  304  29%        定制师态度很好\n定制师比较专业\n
定制师         及时解决问题  304  29%        定制师态度很好\n定制师比较专业\n
方案行程        行程安排合理  239  22%  方案满足实际需求\n行程节奏合理\n行程自由度高
方案行程       方案设计有特色  239  22%  方案满足实际需求\n行程节奏合理\n行程自由度高
方案行程        行程节奏满意  239  22%  方案满足实际需求\n行程节奏合理\n行程自由度高
方案行程       考虑个性化需求  239  22%  方案满足实际需求\n行程节奏合理\n行程自由度高
地接服务       司机服务态度好  134  13%          司机准时技术佳\n导游服务态度好
地接服务         司机技术好  134  13%          司机准时技术佳\n导游服务态度好
地接服务       导游服务态度好  134  13%          司机准时技术佳\n导游服务态度好
地接服务        导游讲解专业  134  13%          司机准时技术佳\n导游服务态度好
整体体验          性价比高   37   3%          性价比高\n省心舒适\n完美旅行
整体体验          省心舒适   37   3%          性价比高\n省心舒适\n完美旅行
整体体验          完美旅行   37   3%          性价比高\n省心舒适\n完美旅行
目的地游玩体验  目的地景点游玩体验   20   2%          性价比高\n省心舒适\n完美旅行

In [18]:
df2=pd.read_table('D:\csv\haop.csv',encoding='gbk',sep=',',index_col=['数量','占比'])
df3=df2.fillna(method="ffill")
print(df3)#read_table默认读取分隔符为\t，加上sep=','指定将其改为读取分隔符为，

              类型        好评点                      好评标签
数量  占比
332 31%       其他         满意                      非常满意
304 29%      定制师     服务贴心周到        定制师态度很好\n定制师比较专业\n
    29%      定制师       认真负责        定制师态度很好\n定制师比较专业\n
    29%      定制师         专业        定制师态度很好\n定制师比较专业\n
    29%      定制师     及时解决问题        定制师态度很好\n定制师比较专业\n
239 22%     方案行程     行程安排合理  方案满足实际需求\n行程节奏合理\n行程自由度高
    22%     方案行程    方案设计有特色  方案满足实际需求\n行程节奏合理\n行程自由度高
    22%     方案行程     行程节奏满意  方案满足实际需求\n行程节奏合理\n行程自由度高
    22%     方案行程    考虑个性化需求  方案满足实际需求\n行程节奏合理\n行程自由度高
134 13%     地接服务    司机服务态度好          司机准时技术佳\n导游服务态度好
    13%     地接服务      司机技术好          司机准时技术佳\n导游服务态度好
    13%     地接服务    导游服务态度好          司机准时技术佳\n导游服务态度好
    13%     地接服务     导游讲解专业          司机准时技术佳\n导游服务态度好
37  3%      整体体验       性价比高          性价比高\n省心舒适\n完美旅行
    3%      整体体验       省心舒适          性价比高\n省心舒适\n完美旅行
    3%      整体体验       完美旅行          性价比高\n省心舒适\n完美旅行
20  2%   目的地游玩体验  目的地景点游玩体验          性价比高\n省心舒适\n完美旅行

In [19]:
df3=pd.read_csv('D:\csv\haop2.csv',header=None)#指明没有顶部索引，加默认索引；未加，则为最上面一行
print(df3.dropna(how='all'))#去掉一行全为nan的行

    0   1      2      3      4
0  k1  k2     v1     v2     v3
1   1   a     11     16     21
2   1   a     -4    -10    -16
3   1   a      1      0     -1
4   5   a      3      2      1
5   5   a    -63   -127   -191
6   5   b     -2     -7    -12
7   5   b  -31.8  -65.6  -99.4

In [20]:
df4=pd.read_csv('D:\csv\haop2.csv',names=['a','b','c','d','e'])#自己指定顶部索引
print(df4.dropna(how='all'))

    a   b      c      d      e
0  k1  k2     v1     v2     v3
1   1   a     11     16     21
2   1   a     -4    -10    -16
3   1   a      1      0     -1
4   5   a      3      2      1
5   5   a    -63   -127   -191
6   5   b     -2     -7    -12
7   5   b  -31.8  -65.6  -99.4

In [21]:
df4=pd.read_csv('D:\csv\haop2.csv',names=['a','b','c','d','e'],index_col='e')#自己指定左侧索引
print(df4.dropna(how='all'))

        a   b      c      d
e
v3     k1  k2     v1     v2
21      1   a     11     16
-16     1   a     -4    -10
-1      1   a      1      0
1       5   a      3      2
-191    5   a    -63   -127
-12     5   b     -2     -7
-99.4   5   b  -31.8  -65.6

In [22]:
df5=pd.read_csv('D:\csv\haop3.csv',index_col=['k1','k2'])#多层次索引，第一层是归类，第二层通常会不同
print(df5)

         v1     v2     v3
k1 k2
1  a   11.0   16.0   21.0
   a   -4.0  -10.0  -16.0
   a    1.0    0.0   -1.0
5  a    3.0    2.0    1.0
   a  -63.0 -127.0 -191.0
   b   -2.0   -7.0  -12.0
   b  -31.8  -65.6  -99.4

In [23]:
print(list(open('D:\csv\wenben.txt')))#看一下文件内容，空格分隔

['  A B  C D\n', 'a 2 21 5 6\n', 'b 2 2  5 2\n', 'c 4 85 4 5\n', 'd 7 8  4 2']

In [24]:
result=pd.read_table('D:\csv\wenben.txt',sep='\s+')#\s为一个空格,\s+为多个空格；sep为指定分隔符
print(result)#最顶层数量少于列数，所以自动默认上层为索引，左侧为索引，输出dataframe

   A   B  C  D
a  2  21  5  6
b  2   2  5  2
c  4  85  4  5
d  7   8  4  2

In [25]:
result2=pd.read_table('D:\csv\wenben.txt',sep='\s+',skiprows=[1,2])#skiprows为跳过第几行不读取
print(result2)

   A   B  C  D
c  4  85  4  5
d  7   8  4  2

In [26]:
result3=pd.read_table('D:\csv\wenben2.txt',sep='\s+')
print(result3)
print(pd.isnull(result3))#查看哪些值是nan

   A     B    C  D
a  2  21.0  5.0  6
b  2   NaN  5.0  2
c  4  85.0  NaN  5
d  7   8.0  4.0  2
       A      B      C      D
a  False  False  False  False
b  False   True  False  False
c  False  False   True  False
d  False  False  False  False

In [27]:
result4=pd.read_table('D:\csv\wenben2.txt',sep='\s+',na_values=['NA'])
print(result4)

   A     B    C  D
a  2  21.0  5.0  6
b  2   NaN  5.0  2
c  4  85.0  NaN  5
d  7   8.0  4.0  2

In [28]:
sentinels={'A':[2],'C':[5]}
result4=pd.read_table('D:\csv\wenben2.txt',sep='\s+',na_values=sentinels)
print(result4)

     A     B    C  D
a  NaN  21.0  NaN  6
b  NaN   NaN  NaN  2
c  4.0  85.0  NaN  5
d  7.0   8.0  4.0  2